*{
    font-family: 'Montserrat', sans-serif!important;
}

body{
    background-color: #fff;
}

.navbar-custome:hover{
    background-color: rgb(20, 35, 49) !important;  
    border-radius: 5px; 
    font-weight: bolder;
}

.navbar-custome:hover a{
    color: white !important;
}

.jumbotron-hero{
    background-color: #00cec9 !important;
    background-attachment: fixed;
    height: auto;
    width: 100%;
    background-size: cover;
}

.wrap-hero{
    width: 100%;
    height: 500px;
    background-color: rgba(20, 35, 49, 0.274) !important;
    position: relative;
}

.button-custome-hero{
    position: absolute;
    z-index: auto;
}

footer{
    background-color:#00cec9 !important;
    color: white;
    background-attachment: fixed;

}

.info-footer h6{
    margin-top:20px;
    text-shadow: 2px 2px 2px black;
}

.social-media-footer img{
    width:20px;
    margin-left: 20px;
}


.nav-card-account{
    position: relative;
}

.card-account {
    background-color: rgb(255, 255, 255) !important;
    position:absolute; 
    right: 100px;
    display:none;
}

.online_shop,.stock,.blog,.brands,.auth,.card-produk,.about,.restorasi{
    margin-top:100px!important
}

.btn-auth{
    background-color:width;
    border: 1px solid #00cec9;
}

.btn-auth:hover{
    background-color:#00cec9;
    color: white;
}


/* Cart */
.cart h6{
    font-weight: 600;
}

.cart small{
    font-weight: 600;
    color: #ff5722;
}

.btn-orange{
    background-color:#ff5722;
    color: white;
}

.btn-orange:hover{
    background-color:#ff5722;
    color: white;
    font-weight: bolder;
}

.btn-grey{
    background-color:#cecece;
}

/*css3 design scrollbar*/
::-webkit-scrollbar {
    width: 10px;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);     
    background-color: #d6f5f4 ;    

}
 
::-webkit-scrollbar-thumb {
    background-image: linear-gradient(rgb(0, 204, 255), rgb(0, 132, 255));
    border-radius:100px;
}


.btn-home{
    background-color: white;
    color: black;
}

.lora{
    font-family: 'Lora', serif !important;
    font-weight:600;
}

.text-tosca{
    color: #00cec9 !important;
}

.btn-tosca{
    background:rgb(218, 218, 218) !important;
    color: #3d3d3d !important;
}

.btn-tosca:hover{
    color:white !important;
    background-color: #00cec9 !important;
}

.overflow-wrap{
    position: relative;
    overflow: hidden;
}

.overflow-text{
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    opacity:0;
}

.overflow-wrap:hover .overflow-text {
    transition:1s ease;
    opacity: 1;
    background-color: #0ae0ddf1!important;
}





/* Brand */
.overflow-wrap-brand{
    position: relative;
    overflow: hidden;
}

.overflow-text-brand{
    position:absolute;
    top:0;
    bottom:0;
    background-color: #0ae0ddf1;
    left:0;
    right:0;
    opacity: 0;
}

.overflow-wrap-brand:hover .overflow-text-brand {
    transition:1s ease-in-out;
    opacity: 1;
}

/* home */
.white-space{
    margin-top:100px;
    margin-bottom:100px;
}



